<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div style="height: 100px;"></div>
    <div class="container my-4 border">
        <div class="row text-center border-bottom" style="height: 80px;">
            <div class="col-3 pt-3 border-right">
                <h3>Logo</h3>
            </div>
            <div class="col-9 pt-3">
                <h3>Termékek</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border-right">
            <div style="height: 40px;"></div>
                <div class="my-2">
                    <div class="pl-4 h5"><a href="/availables">Készletek</a></div>
                    <div class="p-2 pl-4 h5"><a href="/products">Termékek</a></div>
                    <div class="pl-4 h5"><a href="/groups">Csoportok</a></div>
                </div>
            </div>
            <div class="col-9">
                <div style="height: 40px;"></div>
                {{{body}}}
            </div>
        </div>
    </div>

</body>
</html>