<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="container my-4">
        <div class="row">
            <div class="col-3">
                <h3>Logo</h3>
            </div>
            <div class="col-9">
                <h3>Termékek</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <ul id="list-group">
                    <li id="list-group-item">Készletek</li>
                    <li id="list-group-item">Termékek</li>
                    <li id="list-group-item">Csoportok</li>
                </ul>
            </div>
            <div class="col-9">
                {{{body}}}
            </div>
        </div>
    </div>

</body>
</html>