<table class="table table-bordered">
    <thead class="thead-light">
        <tr>

            <th>ID</th>
            <th>Megnevezés</th>
            <th>Csoport</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    {{#each invArr}}
    <tbody>
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{group}}</td>
            <td>
                <button class="btn btn-success">Szerkeszt</button>
                <button class="btn btn-danger">Töröl</button>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>